* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*  Inicio do Header */
body {
  background-color: rgb(68, 68, 68);
}

#hard {
  display: flex;
  flex-direction: row;
  padding: 0px 25px;
  justify-content: right;
  margin-top: -80px;
  margin-bottom: 30px;
}

header {
  background-color: rgb(68, 68, 68);
}

header h3 {
  color: white;
  font-size: 14px;
}

.login {
  display: inline-block;
}

.login ul li {
  list-style: none;
}

.login ul li label {
  font-size: 12px;
  line-height: 1em;
  font-family: verdana;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}

.login a {
  text-decoration: none;
  color: red;
  font-weight: 600;
}

.help {
  display: inline-block;
}

.help ul li {
  list-style: none;
}

.help ul li label {
  font-size: 12px;
  line-height: 1em;
  font-family: verdana;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}

.help a {
  text-decoration: none;
  color: red;
  font-weight: 600;
}

header h3 a {
  color: white;
  text-decoration: none;
}

header h3 a:hover {
  color: white;
}

h1 {
  text-align: left;
  height: 100px;
  padding: 12px 30px;
  display: inline-block;
  font-size: 30px;
  font-weight: 1000;
  color: rgb(255, 255, 255);
  margin: 0px 5px;
  cursor: pointer;
}

h1 a {
  text-decoration: none;
  color: white;
}

h1 a:hover {
  color: white;
}

/* Fim do Header */

/* Inicio do Nav */
nav {
  text-align: center;
  background-color: red;
  margin-top: -30px;
}

nav ul li {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 10px;
  color: rgb(255, 255, 255);
  margin: 0px 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-family: arial;
}

nav ul li a:hover {
  color: white;
}
/* Fim do Nav */

/* Inicio do Footer */
footer {
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer div {
  width: 20%;
  margin: 50px;
  color: white;
  font-family: arial;
  font-weight: 900;
}

#endereco p {
  text-align: center;
}

#endereco p a {
  text-decoration: none;
  color: white;
}

#redes ul li {
  display: inline-block;
  margin-left: 10px;
}

#redes ul li a img {
  width: 60px;
  height: 60px;
}
/* Fim do Footer */

/* Inicio do css da pagina monte seu pc */
h5 {
  font-family: verdana;
  font-size: 15pt;
  margin: 30px;
  text-align: center;
}

h2 {
  color: black;
  font-family: verdana;
  text-align: center;
  padding-top: 20px;
}

#linha {
  padding: 40px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: row; /*quebra de linha*/
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: white;
}

#linha form {
  width: 30%;
  padding: 15px;
  margin: 20px;
  transition: ease 1s;
}

#linha form:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 2px black;
}

#linha div img {
  width: 100%;
  height: 300px;
  cursor: pointer;
}

#linha div h4 {
  font-family: verdana;
  font-size: 15pt;
  text-align: center;
  font-weight: 600;
  color: rgb(68, 68, 68);
}

#linha div select {
  font-family: verdana;
  display: flex;
  text-align: center;
}

#placaMae {
  opacity: 0;
}

#processador {
  opacity: 0;
}

#memoriaRam {
  opacity: 0;
}

#placaDeVideo {
  opacity: 0;
}

#cooler {
  opacity: 0;
}

#fonte {
  opacity: 0;
}

#armazenamento {
  opacity: 0;
}

#gabinete {
  opacity: 0;
}
/* Fim da formatação da pagina monte seu pc */

.carousel {
  margin-top: -15px;
}

#megaPromocoes {
  padding: 0px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: row; /*quebra de linha*/
  flex-wrap: wrap;
  background-color: white;
  transition: ease 1s;
}

.lineMega h2 {
  text-align: left;
  color: white;
  margin-left: 30px;
  font-size: 30px;
  font-weight: 1000;
  color: rgb(255, 255, 255);
}

#megaPromocoes div img {
  border-radius: 20px;
  margin-left: 75px;
  padding-left: 20px;
}

#megaPromocoes div h4 {
  font-family: verdana;
  font-size: 12pt;
  font-weight: 600;
  padding-left: 20px;
  color: black;
}

#megaPromocoes div {
  width: 30%;
  margin: 20px;
  border-radius: 20px;
  transition: ease 1s;
  cursor: pointer;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 40px;
  margin-left: 20px;
}

#megaPromocoes div:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#megaPromocoes div p {
  font-family: verdana;
  font-size: 14pt;
  font-weight: 600;
  color: red;
  padding-left: 20px;
  padding-right: 20px;
}

#megaPromocoes a {
  text-decoration: none;
}

.r4002 {
  background-color: red;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: -10px;
  margin-top: 50px;
}

.r4002 h2 {
  text-align: center;
  color: white;
  font-size: 15pt;
  padding-bottom: 20px;
  font-weight: 600;
}

main form {
  width: 40%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

main form input[type="email"],
main form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 0px;
  border-bottom: 2px solid rgb(68, 68, 68);
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

main form input[type="text"],
main form input[type="email"],
main form input[type="password"],
main form input[type="tel"],
main form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 0px;
  border-bottom: 2px solid rgb(68, 68, 68);
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

main form input[type="submit"] {
  border: 0px;
  background-color: red;
  width: 100%;
  height: 40px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 150px;
}

main form input[value="Entrar"] {
  color: white;
  font-weight: 600;
}

#loginCadastro {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

#loginCadastro div form {
  width: 100%;
  margin-left: 135px;
  margin-right: 150px;
}

#secaoVendas {
  background-color: red;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: -8px;
}

#secaoVendas h2 {
  font-size: 15pt;
  padding-bottom: 20px;
  font-family: verdana;
  color: white;
  font-weight: 600;
  text-align: center;
}

#fundo {
  background-color: white;
}

#duvidasFrequentes {
  text-align: center;
  margin-top: 50px;
}

#duvidasFrequentes h3 {
  text-align: center;
  font-size: 20pt;
  padding-bottom: 20px;
  font-family: verdana;
  color: black;
  font-weight: 600;
}

#duvidasFrequentes p {
  font-size: 12pt;
  padding-bottom: 20px;
  font-family: verdana;
  color: black;
  font-weight: 500;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

#duvidasFrequentes details summary {
  font-size: 12pt;
  padding-bottom: 20px;
  font-family: verdana;
  color: black;
  font-weight: 500;
  text-align: center;
}

#duvidaCliente h2 {
  font-size: 20pt;
  padding-bottom: 20px;
  font-family: verdana;
  color: black;
  font-weight: 600;
  text-align: center;
}

#loginCadastro div h2 {
  font-size: 20pt;
  padding-bottom: 20px;
  font-family: verdana;
  color: black;
  font-weight: 600;
}

#loginCadastro div {
  padding: 20px;
}

.botaoCompra {
  background-color: red;
  width: 100%;
  border: 0;
  border-radius: 5px;
  height: 40px;
  color: white;
  font-size: 10pt;
  font-family: verdana;
  font-weight: 600;
}

#megaPromocoes div p s {
  color: grey;
  font-size: 10pt;
}

.pagamento {
  color: black;
  text-align: center;
  font-size: 10pt;
  font-family: verdana;
  font-weight: 600;
}

#pagamento h2 {
  font-size: 20pt;
  padding-bottom: 20px;
  font-family: verdana;
  color: black;
  font-weight: 600;
  text-align: center;
}

#banner {
  width: 100%;
  margin-top: -18px;
  height: 500px;
}
