* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  background-image: url(../img/placamae.jpg);
  height: 300px;
  padding-top: 115px;
  color: white;
  font-family: arial;
}

nav {
  text-align: center;
  background-color: black;
  margin-top: -20px;
}

.painel {
  margin-top: -16px;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-family: arial;
}

footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
}

#redes {
  text-align: center;
}

#redes ul li {
  display: inline-block;
  padding: 10px;
  padding-top: 20px;
}

h2 {
  font-family: arial;
  color: white;
  text-align: center;
  padding: 10px;
}
